{% extends 'reservation/base.html'%}
{% block content%}
{% load static %}
<div class="bg-image"
     style="background-image: url({% static 'images/background.png' %});min-height: 150vh;">
    <div class="container mb-5">
        <div class="row justify-content-center mt-5">
            <div class="col-md-7 col-sm-12 offset-md-1 p-4 text-center">
                 {% if messages %}
              {% for message in messages%}
              <div class="alert alert-{{message.tags}}" role="{{message.tags}}">
                {{message.tags}}: {{message}}
              </div>
              {% endfor %}
              {% endif %}
                <h1 style="color:#f7820c; background-color:#ffffff">Online Food Delivery Service</h1>
            </div>
        </div>



        <div class="row d-flex align-items-center ">
            <!-- suborder card -->
            {%if order%}
            {% for suborder in order.suborder_set.all %}
            <div class="col-md-3 col-sm-12 offset-md-1 p-4 text-center">
                <div class="card">
                    {% if suborder.item.image %}
                  <img src="{{ suborder.item.image.url }}" class="card-img-top"  height="200" width="250"/>
                    {% else %}
                    <img src="{% static 'images/No_Image_Available.png'%}" class=" card-img-top"
                             height="200" width="250" style="border-style: solid;" />
                    {% endif %}
                  <div class="card-body">
                    <h5 class="card-title">{{suborder.item.type}}</h5>
                    <h4 class="card-title">{{suborder.item.name}}</h4>
                    <h5 class="card-title">{{suborder.item.price}} t</h5>
                  </div>
                    {% if request.user.is_authenticated and suborder.item.available %}
                    <input type="number" name="{{suborder.item.name}}_amount"  class="form-control" value={{ suborder.amount }} min="0" max="24" step="1" />
                    {% endif %}

                    {% if suborder.item.available %}
                  <footer class="text-center " style="background-color:green; color:white">
                       <h3 class="mt-2">Available</h3>
                  </footer>
                    {% else %}
                    <footer class="text-center " style="background-color:red; color:white">
                        <h3 class="mt-2">Out-Of-Order</h3>
                    </footer>
                    {% endif %}
                </div>
            </div>
            {% endfor %}
            {% else %}
            <h1 style="display: flex;
            justify-content: center;
            align-items: center;
            height: 10vh;
            background-color:#ffffff;
            color:blue">
                No order available !
            </h1>
            {% endif %}
        </div>


    </div>
</div>
{% endblock content %}