{% extends 'reservation/base.html' %}

{% block content %}
{% load static %}
<div class="bg-image"
     style="background-image: url({% static 'images/background.png' %});min-height: 150vh;">
    <div class="container mb-5">
        <div class="row justify-content-center mt-5">
            <div class="col-md-7 col-sm-12 offset-md-1 p-4 text-center">
                 {% if messages %}
              {% for message in messages%}
              <div class="alert alert-{{message.tags}}" role="{{message.tags}}">
                {{message.tags}}: {{message}}
              </div>
              {% endfor %}
              {% endif %}
                <h1 style="color:#f7820c; background-color:#ffffff">Online Food Delivery Service</h1>
            </div>
        </div>
        <form method="get" action="{% url 'index-choose'%}">
            <div class="row justify-content-center ">
                <div class="col-md-4 col-sm-12 offset-md-1 p-4 text-center">
                    <div class="input-group">
                      <input type="search" class="form-control rounded" name="choices"
                             placeholder="search your food to check ..." aria-label="Search"
                             aria-describedby="search-addon" value="{{ request.GET.choices }}"/>
                      <button type="submit" class="btn btn-warning" data-mdb-ripple-init>search</button>
                    </div>
                </div>
            </div>
        </form>

        <form method="post" action="{%url 'index'%}" >
            {% csrf_token %}
            {{ suborder_formset.management_form }}
        <div class="row d-flex align-items-center ">

            {% if suborder_formset %}
            {% for item,suborder_form in items_suborder_forms %}
                <div class="col-md-3 col-sm-12 offset-md-1 p-4 text-center">
                {% include "reservation/components/item_card.html" with item=item suborder_form=suborder_form%}
                </div>
            {% endfor %}
            {% else %}
            {% for item in items %}
                <div class="col-md-3 col-sm-12 offset-md-1 p-4 text-center">
                {% include "reservation/components/item_card.html" with item=item%}
                </div>
            {% endfor %}
            {% endif %}


        </div>
            {% if user.is_authenticated %}
            <div class="row d-flex justify-content-center mt-5">
                <div class="col-md-3 col-sm-12 offset-md-1 text-center">
                    <button type="submit" class ="btn btn-primary btn-lg">submit</button>
                </div>
            </div>
            {% endif %}


        </form>

    </div>
</div>
{% endblock content %}
