{% extends 'reservation/base.html'%}

{% block content%}
{% load static %}
 <div class="bg-image"
     style="background-image: url({% static 'images/background2.jpg' %});min-height: 150vh;">
  <div class="container mt-3 " style="border-radius: 25px;max-width:80vh; background: #1496bb; color:white" >
  {% if messages %}
  {% for message in messages%}
    <div class="row d-flex justify-content-center ">
        <div class="col-md-6  col-sm-12 offset-md-1 p-4 text-center ">
          <div class="alert alert-{{message.tags}}" role="{{message.tags}}">
                 {{message.tags}}: {{message}}
          </div>
        </div>
    </div>
      {% endfor %}
      {% endif %}

    <div class="row d-flex justify-content-center ">
        <div class="col-md-6  col-sm-12  p-4 text-center ">
    <h1>order : {{order.pk}}</h1>
        </div>
    </div>

    {% for suborder in suborders %}
    <div class="row d-flex justify-content-center ">
        <div class="col-md-6  col-sm-12  p-2 text-center ">
            <h2>
            {%if order.isconfirmed %}
                {{suborder.item_name}}{{suborder.amount|pluralize}}  :  {{suborder.amount}} * {{suborder.item_price}} =
                {{suborder.suborder_price}}
            {%else%}

                {{suborder.item.name}}{{suborder.amount|pluralize}}  :  {{suborder.amount}} * {{suborder.item.price}} =
                {{suborder.suborder_price}}

            {% endif %}
            </h2>
        </div>
    </div>
    {% endfor%}
      <div class="row d-flex justify-content-center mt-4">
        <div class="col-md-7  col-sm-12  p-2 text-center ">
            <h1 >Total money: {{order.total_price}} t</h1>
        </div>
    </div>
      {% if not order.is_confirmed %}
      <div class="row d-flex justify-content-center mt-4">
        <div class="col-md-4  col-sm-12  p-2 text-center ">
           <a href="{% url 'order-confirm' order.pk %}"><button class="btn btn-primary btn-lg"> Confirm </button></a>
        </div>
        <div class="col-md-4  col-sm-12  p-2 text-center ">
           <a href="{% url 'order-delete' order.pk %}"><button class="btn btn-danger btn-lg"> Delete </button></a>
        </div>
      </div>
      {% else %}
      <div class="row d-flex justify-content-center mt-4">
        <div class="col-md-7  col-sm-12  p-2 text-center ">
            <h2>Order Confirmed !</h2>
        </div>
      </div>
      {% endif %}
    </div>
  </div>
 </div>
{% endblock content %}